name: deploy downloader

on:
  workflow_call:

jobs:
  Deploy-Downloader:
    runs-on: my-runners
    container:
      image: dtzar/helm-kubectl:3.13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy downloader
        run: cd infra/helm && helm upgrade -n compredict downloader downloader
